.dockerignore
.git
.gitignore
.vscode
.next
.results
.editorconfig
.prettierrc
.prettierignore
.husky
build.sh
#.env*
.env.docker
.env.example
npm-debug.log
Dockerfile*
docker-compose*
compose*
README.md
LICENSE
*.swp
node_modules
data
private
backup_app
/prisma/*.db
*.db
build

agent
fastapi/.venv
fastapi/__pycache__
