.claude
.github
.husky
.next
.vscode
agent/
ai_md/
datasheet/
fastapi/.venv
fastapi/__pycache__
node_modules/
!script/run.sh
script/*
.dockerignore
.git
.gitignore
.results
.editorconfig
.prettierrc
.prettierignore
.env.docker
.env.example
build.sh
CLAUDE.md
docker-compose*
compose*
#.env*
Dockerfile*
npm-debug.log
README.md
LICENSE
*.swp
